body{
    margin: 0;
    height: 100vh;
}

.pg {
    height: 100vh;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* by 12 */
    grid-template-rows: repeat(6, 1fr);
    font-family:'Courier';
    text-align: center;
    justify-content: center;
    color: white;
    height: 100vh;

}

.grid > div {
    border: .5em rgb(1, 1, 82) solid;
}

.small{
    grid-area:small;
    background-color: #6987D5;
    grid-column: 1/5;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}

.medium{
    background-color:#445BC1;
    grid-column: 5/9;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.small2{
    background-color:#6987D5;
    grid-column: 9/13;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.header{
    background-color: #97BAEC;
    grid-column: 1/11;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.img{
    background-color:#2C43B8;
    grid-column: 11/13;
    grid-row:2;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.main2{
    background-color: #1727AE;
    grid-column: 1/9;
    grid-row:3;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.quote {
    background-color: #BBDFFA;
    grid-column: 1/9;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.sidebar {
    background-color:#1168e3;
    grid-column: 9/13;
    grid-row: 3/5;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.small3{
    background-color: #6987D5;;
    grid-column: 1/4;
    grid-row:5;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.medium2{

    background-color:#445BC1;;
    grid-column: 7/10;
    grid-row:5;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.small4 {
    background-color:#6987D5;;
    grid-column: 4/7;
    grid-row:5;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.large{
    background-color: #63adf3;
    grid-column: 10/13;
    grid-row:5;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.footer {
    background-color:#2F7AE5;
    grid-column: 1/13;
    grid-row:6;
    display: flex;
    justify-content: center;
    align-items: center; 
}

@media(max-width: 800px){

    body{
        height: 100vh;
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        font-family:'Courier';
        text-align: center;
        justify-content: center;
        color: white;
        grid-template-areas:
        "small"
        "medium"
        "small2"
        "header"
        "img"
        "main2"
        "quote"
        "sidebar"
        "small3"
        "medium2"
        "small4"
        "large"
        "footer"
        ;
    }

    .grid > div {
        border: .2em darkblue solid;
    }

    .small { grid-area: 1 / 1 / 2 / 2; }
    .medium { grid-area: 2 / 1 / 3 / 2; }
    .small2 { grid-area: 3 / 1 / 4 / 2; }
    .header { grid-area: 4 / 1 / 5 / 2; }
    .img { grid-area: 5 / 1 / 6 / 2; }
    .main2 { grid-area: 5 / 1 / 13 / 2; }
    .quote { grid-area: 6 / 1 / 7 / 2; }
    .sidebar { grid-area: 7 / 1 / 8 / 2; }
    .small3 { grid-area: 8 / 1 / 9 / 2; }
    .medium2 { grid-area: 9 / 1 / 10 / 2; }
    .small4 { grid-area: 10 / 1 / 11 / 2; }
    .large { grid-area: 11 / 1 / 12 / 2; }
    .footer { grid-area: 12 / 1 / 13 / 2; }

}
    
    










